/*****Style 2 ****/
/*****Author@Carlo Ocier*****/

/****DEFAULTS*****/

h1, h2, h3, a, p {
	font: 100% Helvetica, sans-serif;
	list-style: none;
	text-decoration: none;
	}
div, body {
	margin: 0; 
	padding: 0; 
	width: 100%; 
	height: 100%;
	}

/****Header*****/
.header {
	height: 80px; 
	outline: 1px solid grey;
	background: #ffff33;
	}
.search_bar {
	padding: 5px; 
	
	}
.search_bar li, li {
	display: inline;	
	}
.header_sign_in a{
	color: #999900;
	}
.logo {
	background: url(../images/logo.png) no-repeat;
	padding: 5px;
	}