
@import "reset.css";
h1, h2, h3, a, p {
    font: 100% Helvetica,sans-serif;
    list-style: none outside none;
    text-decoration: none;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
	
}

.header {
    background: none repeat scroll 0 0 #FFFF33;
    width: 100%;
	padding-bottom: 10px;
	
}
.logo {
    background: url("../images/logo.png") no-repeat scroll center top #FFFF33;
    height: 70px;
    margin-right: 10px;
    padding-right: 50px;
    width: 300px;
}
.search_bar {
    left: 310px;
    position: absolute;
    top: 20px;
    width: 600px;
}
.search_bar a {
	margin:0 auto;
	}
.search {
	padding: 6px 15px 6px 30px;
	margin: 3px;
	width: 450px; 
	}

.header_sign_in {
    left: 890px;
    position: absolute;
    top: 10px;
    width: 450px;
}
input[type=text]{
	color: #bcbcbc;
	}
input[type=submit], input [type=button]:hover {
	padding: 6px 15px 6px 15px;
	position:relative; 
	left:-6px;
	border:1px solid #adc5cf;
	background: #e4f1f9; /* Old browsers */
	background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
	background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
	color:#7da2aa;
	cursor: pointer;
	}
.header_sign_in li {
    display: inline;
    padding: 10px;
}
.header_sign_in li:last-of-type {
    background: none repeat scroll 0 0 #690;
    border-radius: 12px 12px 12px 12px;
    margin: 3px;
    padding: 6px 15px 6px 15px;
    width: 450px;
	
}
.header_sign_in li:last-of-type a{
	color: #fff;
	}
.header_sign_in a {
    color: #999900;
    font: bold 15px Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}
.nav_bar {
    background: none repeat scroll 0 0 #E4D71A;
    height: 30px;
    position: absolute;
    top: 80px;
    width: 100%;
}
.nav_bar ul {
    left: 400px;
    margin: 3px;
    position: absolute;
}
.nav_bar li {
    border-right: 1px solid white;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}
.nav_bar li:last-of-type {
    border: medium none;
}
.nav_bar a {
    color: #FFFFFF;
    font: 12px Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}


/******content**/
.content {
    clear: both;
    margin: auto;
    min-height: 100%;
    margin-bottom: 100px;
    position: inherit;
    margin-top: 35px;
    width: 950px;
	border: 1px solid #CCC;
	
}

.side{
	outline: none;
	width: 260px;
	float:left;
	}
.sidebar {
	width: 250px;
	min-height: 260px;
	border: 1px solid #E4D71A;
	margin: auto;
	padding:3px;
	border-radius: 10px 10px 10px 10px;
	background: #ffffcc;
	}
.sidebar ul{
	margin-top:-5px;
	}
.sidebar li {
	margin-right: 10px;
	padding: 3px 0 3px 0;
	list-style:none;
	border-bottom: 1px solid #CCC;
	background: url(../images/arrow.gif)no-repeat right;
	margin-left: -20px;
	text-indent: .5em;
	}
.sidebar li:first-of-type{
	background: none;
	text-indent: 0;
	background: #f1e640;
	border-radius: 5px 5px 0px 0px;
	padding: 5px;
	}
.sidebar li:last-of-type{
	border-bottom: none;
	}
.sidebar li a{
	font-weight: bold;
	color: #333;
	}
.sidebar p{
	color: #fff;
	margin-top:1px;
	font-weight: bold;
	background: #C90;
	padding: 10px 0px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	}

.slider{
	width: 960px;
	padding-top: 5px;
	margin-left: -10px;
	height: 100%;
	outline: 1px blue dashed;
	}
.login {
	
	width: 100%;
	min-height: 500px;
	}
.login_form {
	
	width: 550px;
	margin: auto;
	padding: 20px;
	/**background: grey;
	border: 1px solid #999;
	border-radius: 10px 10px 10px 10px;**/
	}
.login_form p {
	padding: 10px;
	
	}
.login_form {
   width: 600px;
   display:inline;
   
}
.login_form a {
	margin:0 auto;
	}
.form {
	position: absolute;
	left: 550px;
	padding: 5px;
	margin: 3px;
	width: 350px; 
	}
.login_form p label {
	position: absolute;
	left: 350px;
	color: grey;
	font-weight: bold;
	font-size: 15px;
	}
.login_form p{
	padding: 10px;
	}
.main {
	height: 100%;
	}
.product {
	width: 210px;
	min-height: 400px;
	outline: 1px solid #CCC;
	margin: 5px;
	padding: 6px;
	float: left;
	}
.divide {
	bottom-top: 50px;
	margin: 10px;

	}

.divide h2{
	padding: 10px;
	font-size:20px;
	font-weight: bold;
	color:  #999933;
	border-bottom: 2px solid grey;
	}
.product .title {
	text-align: center;
	font-weight: bold;
	color: #999933;
	}
.product .description {
	padding: 5px;
	margin-top: -10px;
	font-size: 10px;
	text-align: justify;
	color: #000;
	}
.image {
	width:210px;
	height: 150px;
	margin: auto;
	}
span{
	
	outline: 1px solid grey;
	}
/*****footer**/
.footer {
	clear: both;
    background: none repeat scroll 0 0 #CCCC33;
    bottom: 0;
	margin-top: 10px;
    height: 50px;
    position: inherit;
    width: 100%;
}

.ACF h2{
	
	color:  #CCCC33;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	}
.ACF{
	line-height: 1em;
	margin-top: 10px;
	text-align:justify;
	padding: 30px;
	}

.ACF p{
	font: Arial, Helvetica, sans-serif;
	margin-top: 10px;
	}
.ACF ul{
	width: 250px;
	float: left;
	padding: 10px 50px 10px 70px;

	}

.ACF li{
	list-style:none;
	font: Arial, Helvetica, sans-serif;
	line-height: 1em;
	font-size: 15px;
	}